*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header{
    display: flex;
    justify-content: center;
    background-color: #5f27cd;
    padding: 16px 0;
    color: white;
    border-bottom:16px solid #341f97 ;
    text-transform: uppercase;
    font-style: italic;
}

header button{
    margin-left: 16px;
}

form{
    background-color: #c8d6e5;
    padding: 24px 0;
    text-align: center;
    display: none;
}

input,button{
    margin-top: 16px;
    padding: 8px;
}

button{
    background-color: rgb(7, 172, 7);
    border: none;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
}

#btn-cancel{
    background-color: red;
}

ul{
    display: flex;
    flex-wrap: wrap;
}
ul li{
    max-width: 25%;
    max-height: 280px;
    list-style: none;
    position: relative; 
    overflow-y: hidden;
}
ul li img{
    width: 100%;
}
.overlay-image-link{
    padding: 16px;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    opacity:0;
    transition: all ease .5s;
}
a{
    color: #fff;
    text-decoration: none;
}
ul li:hover .overlay-image-link{
    opacity: 1;
}